aiohttp                  
altgraph                
amqp                     
asn1crypto               
async-timeout             
attrs                     
billiard                  
celery                   
certifi                  
cffi                      
chardet                   
charset-normalizer       
click                     
click-didyoumean         
click-plugins             
click-repl                
compressed-rtf            
coreapi                   
coreschema                
cryptography              
discord-components        
discord.py                
Django                   
django-js-asset           
django-timezone-field     
djangorestframework       
dlms-cosem                
ebcdic                   
future                    
greenlet                  
idna                     
IMAPClient               
inflection              
itypes                  
Jinja2                  
jsonpointer               
jsonschema                
kombu                    
MarkupSafe                
multidict                 
olefile                   
orderedmultidict         
packaging                 
pefile                    
pip                       
ply                      
prompt-toolkit            
pycparser                 
pyinstaller               
pyinstaller-hooks-contrib 
pyparsing                 
pyrsistent                
pyserial                
pyTelegramBotAPI          
python-crontab          
python-dateutil           
pytz                      
pytz-deprecation-shim     
pywin32-ctypes            
PyYAML                    
regex                     
requests                  
rfc3987                   
ruamel.yaml               
setuptools                
six                       
sqlparse                  
strict-rfc3339           
tld                       
typing-extensions         
tzdata                    
tzlocal                   
uritemplate              
urllib3                   
validate-email            
vine                      
wcwidth                   
webencodings             
WebOb                     
Whoosh                    
yarl                      
zope.event                
zope.interface
